.c-site {
  &__header-content-wrapper {
    background: $brand-light;
    color: $brand-secondary;
  }

  &__content {
    padding: 50px 20px;
  }

  &__footer {
    @include media-breakpoint-up(lg) {
      padding: 20px;
    }
  }
}
