.u-flex {
  display: flex;
}

.u-flex-center {
  align-items: center;
  justify-content: center;
}

.u-flex-justify-content-center {
  justify-content: center;
}

.u-flex-space-between {
  justify-content: space-between;
}

.u-flex-align-items-center {
  align-items: center;
}
