/** Colors */
$brand-primary: #e01936;
$brand-secondary: #14021b;
$brand-light: #fff;

/** Box Model  */
$spacer: 2rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1240px,
);
