a {
  position: relative;
  color: inherit;
  text-decoration: none;

  &::before {
    @include pseudo();

    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: $brand-light;
    transition: width 0.2s ease;
  }

  &:hover::before {
    width: 100%;
  }

  #wpadminbar a::before {
    content: none;
  }

  .c-site__header-content-wrapper &::before {
    background: $brand-secondary;
  }
}
